* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: rgb(218, 218, 218);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
 .details {
  display: flex;
  flex-direction: column;
  width: 50%;
  row-gap: 20px;
  font-size: 20px;
}
.image img {
  width: 90%;
}
.detailsPart {
  background-color: bisque;
  border: none;
  padding: 15px 15px;
  border-radius: 320px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 4.5em;
}
.circle {
  position: absolute;
  background-color: rgb(209, 209, 209);
  box-shadow: 6px 12px 18px rgba(34, 34, 34, 0.644);
  height: 4em;
  width: 4em;
  border-radius: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #26554b;
}
.circle i {
  font-size: 2em;
}
.textImage {
  padding-left: 5.5em;
}
.detailsPart:nth-child(1) {
  background: linear-gradient(160deg, #fdd739, #fbb015);
  box-shadow: inset 4px 4px 8px #414141, inset -12px -12px 24px #fbb015;
}
.detailsPart:nth-child(2) {
  background: linear-gradient(160deg, #f69919, #ee531f);
  box-shadow: inset 4px 4px 8px #414141, inset -12px -12px 24px #ee531f;
}
.detailsPart:nth-child(3) {
  background: linear-gradient(160deg, #e05db7, #96186e);
  box-shadow: inset 4px 4px 8px #414141, inset -12px -12px 24px #ad3888;
}
.detailsPart:nth-child(4) {
  background: linear-gradient(160deg, #69549e, #473f8f);
  box-shadow: inset 4px 4px 8px #414141, inset -12px -12px 24px #473f8f;
}
.detailsPart:nth-child(5) {
  background: linear-gradient(160deg, #008fa0, #00a8a8);
  box-shadow: inset 4px 4px 8px #414141, inset -12px -12px 24px #00a8a8;
}
.detailsPart:nth-child(6) {
  background: linear-gradient(160deg, #b4d335, #60bb48);
  box-shadow: inset 4px 4px 8px #414141, inset -12px -12px 24px #60bb48;
}
@media (max-width: 1200px) {
  .container {
    flex-direction: column;
  }
}
